#carte{
	
	/*background-image : url("img/background.png");*/
	background-color : grey; 
	height: 600px;
	width:700px;
	background-repeat: no-repeat;
}

#personnage{

	position: relative;
	width : 20px;
	height: 20px;

}

html{

	height: 100%;

}

body{

	height: 100%;
}

